@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.smallside {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  background-color: white;
  width: 70%;
  height: 100vh;

  animation: showmenu 300ms ease forwards;
}
@keyframes showmenu {
  to {
    left: 0;
  }
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  font-size: 20px;
  color:#8695A0;
  cursor: pointer;
}
